:root {
	--positive: #42D866;
	--nn-border: #38589847;
	--bg-main: #4b61ca;
	--scroll-track: #c8d1e2;
}

.__fb-dark-mode {
	--scroll-track: var(--comment-background);
}

:root:not(.__fb-dark-mode) div[role="banner"] {
	--nav-bar-background: #3B5998 !important;
}

.__fb-dark-mode div[role="banner"] {
	--nav-bar-background: #0D0D0D !important;
}

:root [role="navigation"]:not(.__nn-msg [role="navigation"]),
:root .__nn-fbm [role="navigation"] {
	--hosted-view-selected-state: var(--bg-main) !important;
}

:root [role=navigation] [aria-current="page"] {
	--positive: #4DFF77;
}

.__fb-light-mode {
	--nn-navcom: #fff;
	--divider: var(--nn-border);
}

.__fb-dark-mode {
	--nn-navcom: var(--card-background);
}


/* Top Bar */
body:not(.__nn-msg),
.__nn-fbmsg {
    --header-height: 48px;
}


/*  Top Bar - Left Logo */
[role="banner"] [aria-label="Facebook"][href="/"][role="link"]>svg {
	height: 34px;
	width: 34px;
}

/*  Top Bar - Left - Search Box */
[role="banner"] .c8dj4xom {
	min-height: 34px;
}

[role="banner"] [type="search"] {
	height: 34px;
	line-height: 34px;
	padding-top: 0;
	padding-bottom: 0;
}

/*Top Bar - Center  */
[role="navigation"]>ul li a[role="link"] svg {
	height: 20px;
}

[role="navigation"]>ul li {
	max-width: 60px !important;
	--primary-button-background: #fff;
	--secondary-icon: #fff
}

[role="navigation"]>ul li+li {
	margin-left: 20px;
}

/*  Top Bar - Right */
[role="navigation"][aria-label="Account Controls and Settings"] [role="button"]:not([tabindex="-1"]),
[role="navigation"][aria-label="Account controls and settings"] [role="button"]:not([tabindex="-1"]),
[role="navigation"][aria-label="Account Controls and Settings"] [role="link"],
[role="navigation"][aria-label="Account controls and settings"] [role="link"] {
	width: 28px;
	height: 28px;
}

/*  Top Bar - Right - Icon Size */
[role="navigation"][aria-label="Account Controls and Settings"] [aria-label="Menu"] svg,
[role="navigation"][aria-label="Account controls and settings"] [aria-label="Menu"] svg {
	transform: scale(0.7);
}

[role="navigation"][aria-label="Account Controls and Settings"] [aria-label="Menu"] svg.d1w2l3lo,
[role="navigation"][aria-label="Account controls and settings"] [aria-label="Menu"] svg.d1w2l3lo {
	transform: scale(0.85);
}

[role="navigation"][aria-label="Account Controls and Settings"] [aria-label^="Messenger"] svg,
[role="navigation"][aria-label="Account controls and settings"] [aria-label^="Messenger"] svg,
[role="navigation"][aria-label="Account Controls and Settings"] [aria-label^="Notifications"] svg,
[role="navigation"][aria-label="Account controls and settings"] [aria-label^="Notifications"] svg {
	transform: scale(0.8);
}

[role="navigation"][aria-label="Account Controls and Settings"] [aria-label^="Messenger"] svg.d1w2l3lo,
[role="navigation"][aria-label="Account Controls and Settings"] [aria-label^="Messenger"] svg.d1w2l3lo,
[role="navigation"][aria-label="Account controls and settings"] [aria-label^="Notifications"] svg.d1w2l3lo,
[role="navigation"][aria-label="Account controls and settings"] [aria-label^="Notifications"] svg.d1w2l3lo {
	transform: scale(0.95);
}

/*  Top Bar - Right - Profile Picture */
[role="navigation"][aria-label="Account Controls and Settings"]>span:first-child [role="button"],
[role="navigation"][aria-label="Account Controls and Settings"] svg[aria-label="Your profile"],
[role="navigation"][aria-label="Account Controls and Settings"] svg[aria-label="Your profile"] image,
[role="navigation"][aria-label="Account controls and settings"]>span:first-child [role="button"],
[role="navigation"][aria-label="Account controls and settings"] svg[aria-label="Your profile"],
[role="navigation"][aria-label="Account controls and settings"] svg[aria-label="Your profile"] image {
	width: 32px !important;
	height: 32px !important;
}

[role="navigation"][aria-label="Account Controls and Settings"] svg[aria-label="Your profile"] mask circle,
[role="navigation"][aria-label="Account controls and settings"] svg[aria-label="Your profile"] mask circle {
	cx: 16;
	cy: 16;
	r: 16;
}

/*  Top Bar - Right - NNotification Counter */
[role="navigation"][aria-label="Account Controls and Settings"] [aria-label^="Notifications"][tabindex="-1"],
[role="navigation"][aria-label="Account Controls and Settings"] [aria-label^="Messenger"][tabindex="-1"],
[role="navigation"][aria-label="Account controls and settings"] [aria-label^="Notifications"][tabindex="-1"],
[role="navigation"][aria-label="Account controls and settings"] [aria-label^="Messenger"][tabindex="-1"] {
	left: 16px;
}

[role="navigation"][aria-label="Account Controls and Settings"] [aria-label^="Notifications"][tabindex="-1"]>span,
[role="navigation"][aria-label="Account Controls and Settings"] [aria-label^="Messenger"][tabindex="-1"] div>span, 
[role="navigation"][aria-label="Account Controls and Settings"] [aria-label^="Notifications"][tabindex="-1"]>span,
[role="navigation"][aria-label="Account controls and settings"] [aria-label^="Messenger"][tabindex="-1"] div>span {
	height: 16px;
	min-width: 16px;
}

/* Top Bar - Right - Profile Picture */
[role="navigation"][aria-label="Account controls and settings"]>span:first-child span[data-visualcompletion="ignore"]
[role="navigation"][aria-label="Account controls and settings"]>span:first-child span[data-visualcompletion="ignore"] {
	margin-right: -5px;
	margin-top: -10px;
	transform: scale(0.9);
}


/*  Sidebar */
[role="navigation"]:not([role="banner"] [role="navigation"]),
[role="complementary"] {
	background-color: #fff;
	border: 0;
	border-right-width: 1px;
	border-style: solid;
	border-color: var(--nn-border);
}

.__fb-dark-mode [role="navigation"]:not([role="banner"] [role="navigation"]),
.__fb-dark-mode [role="complementary"] {
	background-color: var(--surface-background);
}

[role="complementary"] {
	border-right-width: 0;
	border-left-width: 1px;
}

/*  Left Sidebar - Profile Link */
[role="navigation"] [data-visualcompletion="ignore-dynamic"]>div>ul:first-child a[role="link"][href*="facebook.com/"] {
	background-color: var(--bg-main);
	margin-bottom: 3px;
}

[role="navigation"] [data-visualcompletion="ignore-dynamic"]>div>ul:first-child a[role="link"][href*="facebook.com/"] svg[role="none"] {
	border: 3px solid #ffffff80;
	border-radius: 50%;
}

[role="navigation"] [data-visualcompletion="ignore-dynamic"]>div>ul:first-child a[role="link"][href*="facebook.com/"] * {
	color: #fff;
	font-weight: bold;
}

/*  Navigation Scroller */
.tccefgj0 {
	background-color: #f6f6f6;
}

[role="navigation"] [data-thumb].akh3l2rg {
	width: 6px;
	padding: 0;
	padding-right: 1px;
}

.s6fba4dy {
	background-color: var(--scroll-track);
}


/*  Messenger Support */
.__nn-fbmain [role="navigation"] [data-visualcompletion=ignore-dynamic] .buofh1pr>ul li:first-child a.uo3d90p7 *,
.__nn-fbm [role="navigation"] [aria-current="page"] * {
	color: #fff;
}
