:root {
    --positive: #42D866;
}
body .t63ysoy8 .sjgh65i0 {
    margin-bottom: 0;
}
.__fb-dark-mode *::-webkit-scrollbar {
    height: 15px;
    width: 15px
}
.__fb-dark-mode *::-webkit-scrollbar-thumb {
    background-color: #777;
    border: 2px solid #444;
    
}
.__fb-dark-mode *::-webkit-scrollbar-track {
    background-color: #444;
}





/*=============================*/
/*Navigation Area -  Top Bar*/
[role="navigation"] .wkznzc2l.rq0escxv.n851cfcs.ahb00how {
    margin: 0;
    padding: 11px 16px 11px;
    height: 64px;
    color: #fff;
}
[role="navigation"]:not(.__fb-dark-mode [role="navigation"]) .wkznzc2l.rq0escxv.n851cfcs.ahb00how {
    background-color: #385898;
    background-color: #4B61CA;
}
.__fb-dark-mode [role="navigation"] .wkznzc2l.rq0escxv {
    background-color: #c3cfe633;
}
/*Navigation Area -  Top Bar (Profile Picture)*/
[role=navigation] .wkznzc2l.rq0escxv.n851cfcs.ahb00how .q9uorilb {
    border: 3px solid #fff6;
    border-radius: 50px;
}
/*Navigation Area -  Top Bar (Heading)*/
[role=navigation] .wkznzc2l.n851cfcs.ahb00how h1 {
    color: #fff;
}

/*Navigation Area -  Top Bar (Icon)*/
[role="navigation"] .wkznzc2l.rq0escxv.n851cfcs.ahb00how .ozuftl9m svg {
    filter: unset;
    fill: #fff;
}
[role=navigation]:not(.__fb-dark-mode [role=navigation]) .wkznzc2l.rq0escxv.n851cfcs.ahb00how .ozuftl9m .oajrlxb2 {
    background-color: #fff;
}
[role=navigation]:not(.__fb-dark-mode [role=navigation]) .wkznzc2l.rq0escxv.n851cfcs.ahb00how .ozuftl9m .oajrlxb2 svg {
    fill: #385898; 
    fill: #4B61CA; 
}
.__fb-dark-mode [role=navigation] .wkznzc2l.rq0escxv.n851cfcs.ahb00how .ozuftl9m .oajrlxb2 {
    background-color: #222;
    fill: #fff;
}

/*=============================*/
/*Navigation Area - Search Box*/
[role=navigation] .wkznzc2l.rq0escxv.n851cfcs.ahb00how + .rq0escxv {
    color: #fff;
    margin: 0;
    padding: 6px 0 6px
}
[role=navigation]:not(.__fb-dark-mode [role="navigation"]) .wkznzc2l.rq0escxv.n851cfcs.ahb00how + .rq0escxv {
    background-color: #38589847; 
    background-color: #4B61CA47;
}
.__fb-dark-mode [role=navigation] .wkznzc2l.rq0escxv.n851cfcs.ahb00how + .rq0escxv {
    background-color: #c3cfe624;
}
/*Navigation Area - Search Box (Input)*/
[role=navigation] .wkznzc2l.rq0escxv.n851cfcs.ahb00how + .rq0escxv input {
    background-color: #fff;
}
.__fb-dark-mode [role=navigation] .wkznzc2l.rq0escxv.n851cfcs.ahb00how + .rq0escxv input {
    background-color: #111;
}

/*Navigation Area - Search Box Bottom Border*/
.__nn-msg [role="navigation"] .s1tcr66n.wkznzc2l.dhix69tm {
    border: 0;
}
.__fb-dark-mode [role="navigation"] .s1tcr66n {
    border-color: #4c5054;
}



/*=============================*/
/*Navigation Area - Chat List (Top Margin)*/
[role=navigation] .aahdfvyu {
    margin-top: 0;
}
/*Navigation Area - Chat Item */
[role=navigation] [role="grid"] [role="row"] {
    border-bottom: 1px solid #dde3ee;
    padding: 3px 0;
}
.__fb-dark-mode [role=navigation] [role="grid"] [role="row"] {
    border-color: #393a3b;
}
/* Navigation Area - Chat Item (Status Icon) */
[role=navigation]:not(.__fb-dark-mode [role=navigation]) [role="grid"] [role="row"] .ozuftl9m svg.crt8y2ji:not(.__nn-fbm [role=navigation] [aria-current=page] .ozuftl9m svg.crt8y2ji),
[role=main]:not(.__fb-dark-mode [role=main]) .t6p9ggj4 .pfnyh3mw.pybr56ya .qx9c56kf .bp9cbjyn .lupvgy83 svg {
    fill: #005FFF4A;
    color: #fff;
}

/* Navigation Area - Chat Item (Profile Pic) */
[role=navigation] [role="grid"] [role="row"] .nqmvxvec > .q9uorilb svg[role="img"],
[role=navigation] [role="grid"] [role="row"] .nqmvxvec > .q9uorilb svg[role="img"] image,
[role=navigation] [role="grid"] [role="row"] .nqmvxvec > .l9j0dhe7.e5d9fub0.oeao4gh3 {
    height: 50px!important;
    width: 50px!important;
}

[role=navigation] [role="grid"] [role="row"] .nqmvxvec > .q9uorilb svg[role="img"] circle {
    transform: scale(0.88);
}
[role=navigation] [role="grid"] [role="row"]  .nqmvxvec > .l9j0dhe7.oeao4gh3 svg[role="img"],
[role=navigation] [role="grid"] [role="row"]  .nqmvxvec > .l9j0dhe7.oeao4gh3 svg[role="img"] image {
    height: 33px!important;
    width: 33px!important;
}
[role=navigation] [role="grid"] [role="row"]  .nqmvxvec > .l9j0dhe7.oeao4gh3 svg[role="img"] circle {
    transform: scale(0.889);
}





/*============================================*/
/*Main Conversation*/
[role="main"] .bafdgad4.tkr6xdv7 {
    background-color: #3858982b;
    background-color: #4B61CA2b;
}
[role="main"]:not(.__fb-dark-mode [role="main"]) .ntk0jbrt.pfnyh3mw .nred35xi,
[role="main"]:not(.__fb-dark-mode [role="main"]) .ntk0jbrt.pfnyh3mw {
    background-color: #ebf2ff;
}
.__fb-dark-mode [role="main"] .ntk0jbrt.pfnyh3mw .nred35xi,
.__fb-dark-mode [role="main"] .ntk0jbrt.pfnyh3mw {
    background-color: #1f1f1f;
}
[role="main"] .ntk0jbrt.pfnyh3mw .nred35xi .qbubdy2e {
    fill: #ebf2ff;
}
.__fb-dark-mode [role="main"] .ntk0jbrt.pfnyh3mw .nred35xi .qbubdy2e {
    fill: #1f1f1f;
}

/* Main Top Bar */
[role=main] .t6p9ggj4 .pfnyh3mw.pybr56ya {
    margin-bottom: 0;
    margin-top: 0;
    padding: 6px 16px;
}
[role=main]:not(.__fb-dark-mode [role="main"]) .t6p9ggj4 .pfnyh3mw.pybr56ya {
    background-color: #f4f3ff;
}
.__fb-dark-mode [role="main"] .t6p9ggj4 .pfnyh3mw.pybr56ya {
    background-color: #303235;
}
[role=main] .t6p9ggj4 .pfnyh3mw.pybr56ya .qx9c56kf .bp9cbjyn .lupvgy83 {
    opacity: 5;
}
.__fb-dark-mode [role="main"] .t6p9ggj4 .pfnyh3mw.pybr56ya .qx9c56kf .bp9cbjyn svg {
    fill: #ffffffa1;
}

.pedkr2u6.pmk7jnqg.pnx7fd3z .pybr56ya.pfnyh3mw {
    background-color: #4B61CA47;
    background-color: #38589847;
    padding-bottom: 12px;
}
.pedkr2u6.pmk7jnqg.pnx7fd3z .pybr56ya.pfnyh3mw + span {
    background-color: #ebf2ff;
}



/*============================================*/
/*Right Sidebar - Complementary (chat)*/
[role="main"] .buofh1pr .rq0escxv.kuivcneq.t63ysoy8 .pfnyh3mw.d2edcug0 > .pfnyh3mw.d2edcug0 {
    padding-bottom: 16px;
    margin-bottom: -10px;
}
[role="main"]:not(.__fb-dark-mode [role="main"]) .buofh1pr .rq0escxv.kuivcneq.t63ysoy8 .pfnyh3mw.d2edcug0 > .pfnyh3mw.d2edcug0 {
    background: linear-gradient(to bottom, #38589887, #fff);
    background: linear-gradient(to bottom, #1877F287, #fff);
}
.__fb-dark-mode [role="main"] .buofh1pr .rq0escxv.kuivcneq.t63ysoy8 .pfnyh3mw.d2edcug0 > .pfnyh3mw.d2edcug0 {
    background: linear-gradient(to bottom, #494c50, transparent);
}
[role="main"] .buofh1pr .rq0escxv.kuivcneq.t63ysoy8  .pfnyh3mw.d2edcug0 > .pfnyh3mw.d2edcug0 .pioscnbf.etr7akla{
    border: 2px solid #fff;
    border-radius: 50px;
}

/* Right Sidebar - Complementary (Icon) */
.__fb-dark-mode [role="main"] .gitj76qy .d8ncny3e svg,
.__fb-dark-mode [role="main"] .gitj76qy .d8ncny3e svg path[fill=black]{
    fill: #fff;
}
